* {
    font-family: 'Raleway', sans-serif;
}
body {

}
h1 {
    text-align: center;
    color: red;
    font-size: 6em;
}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

ul {
    border: 1px solid red;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}
ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 500px) {
    h1 {
        color:orange;
    }
}

@media (min-width: 1000px) {
    h1 {
        color:yellow;
    }
}

@media (min-width: 1500px) {
    h1 {
        color:green;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 4em;
    }

    nav, nav ul {
        flex-direction: column;
        align-items: center;
    }

    /* nav ul {
        flex-direction: column;
        align-items: center;
    }
} */

@media (max-width: 576px) {
    h1 {
        font-size: 3em;
    }
}